.circular--square {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.wrapper-main {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.wrapper-second {
  display:flex;
  flex-wrap:wrap;
  width:450px;
  height:450px;
}
.wrapper-third {
  display:flex;
  width:150px;
  height:150px;
}
.wrapper-11 {
}
.wrapper-12 {
  justify-content:space-between;
  align-items:flex-end;
}
.wrapper-13 {
}
.wrapper-21 {
  flex-direction:column-reverse;
  justify-content:space-between;
  align-items:flex-end;
}
.wrapper-22 {
}
.wrapper-23 {
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
}
.wrapper-31 {
}
.wrapper-32 {
  flex-direction:row-reverse;
  justify-content:space-between;
  align-items:flex-start;
}
.wrapper-33 {
}
.block-large {
  width:450px;
  height:450px;
}
.icon-container {
  width:40px;
  height:40px;
  position:relative;
  flex-grow: 0;
  flex-shrink: 0;
  transition: background-image .3s ease-in-out;
  transform: scale(1);
}
.icon-container:hover {
  transform: scale(1.5);
}

.facebook {
 top:0px;
}
.icon11 {
  top:-12px;
  left:-12px;
  background-image:url("../img/icon-fb.png");
  background-size:cover;
}
.icon11:hover {
  cursor:pointer;
  background-image:url("../img/icon-fb-on.png");
}
.icon12 {
  top:-35px;
  left:-6px;
  background-image:url("../img/icon-tw.png");
  background-size:cover;
}
.icon12:hover {
  cursor:pointer;
  background-image:url("../img/icon-tw-on.png");
}
.icon13 {
  top:-35px;
  left:+6px;
  background-image:url("../img/icon-in.png");
  background-size:cover;
}
.icon13:hover {
  cursor:pointer;
  background-image:url("../img/icon-in-on.png");
}
.icon14 {
  top:-12px;
  left:+12px;
  background-image:url("../img/icon-tg.png");
  background-size:cover;
}
.icon14:hover {
  cursor:pointer;
  background-image:url("../img/icon-tg-on.png");
}
.icon21 {
  top: -12px;
  left: 12px;
  background-image:url("../img/icon-tb.png");
  background-size:cover;
}
.icon21:hover {
  cursor:pointer;
  background-image:url("../img/icon-tb-on.png");
}
.icon22 {
  top: -6px;
  left: 35px;
  background-image:url("../img/icon-so.png");
  background-size:cover;
}
.icon22:hover {
  cursor:pointer;
  background-image:url("../img/icon-so-on.png");
}
.icon23 {
  top: 6px;
  left: 35px;
  background-image:url("../img/icon-gh.png");
  background-size:cover;
}
.icon23:hover {
  cursor:pointer;
  background-image:url("../img/icon-gh-on.png");
}
.icon24 {
  top: 12px;
  left: 12px;
  background-image:url("../img/icon-yt.png");
  background-size:cover;
}
.icon24:hover {
  cursor:pointer;
  background-image:url("../img/icon-yt-on.png");
}
.icon31 {
  left: 12px;
  top: 12px;
  background-image:url("../img/icon-io.png");
  background-size:cover;
}
.icon31:hover {
  cursor:pointer;
  background-image:url("../img/icon-io-on.png");
}
.icon32 {
  left: 6px;
  top: 35px;
  background-image:url("../img/icon-fi.png");
  background-size:cover;
}
.icon32:hover {
  cursor:pointer;
  background-image:url("../img/icon-fi-on.png");
}
.icon33 {
  left: -6px;
  top: 35px;
  background-image:url("../img/icon-re.png");
  background-size:cover;
}
.icon33:hover {
  cursor:pointer;
  background-image:url("../img/icon-re-on.png");
}
.icon34 {
  left: -12px;
  top: 12px;
  background-image:url("../img/icon-me.png");
  background-size:cover;
}
.icon34:hover {
  cursor:pointer;
  background-image:url("../img/icon-me-on.png");
}
.icon41 {
  left: -12px;
  top: 12px;
  background-image:url("../img/icon-qu.png");
  background-size:cover;
}
.icon41:hover {
  cursor:pointer;
  background-image:url("../img/icon-qu-on.png");
}
.icon42 {
  left: -35px;
  top: 6px;
  background-image:url("../img/icon-pi.png");
  background-size:cover;
}
.icon42:hover {
  cursor:pointer;
  background-image:url("../img/icon-pi-on.png");
}
.icon43 {
  left: -35px;
  top: -6px;
  background-image:url("../img/icon-ig.png");
  background-size:cover;
}
.icon43:hover {
  cursor:pointer;
  background-image:url("../img/icon-ig-on.png");
}
.icon44 {
  left: -12px;
  top: -12px;
  background-image:url("../img/icon-sk.png");
  background-size:cover;
}
.icon44:hover {
  cursor:pointer;
  background-image:url("../img/icon-sk-on.png");
}
