.circular--square {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.wrapper-main {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.wrapper-second {
  display:flex;
  flex-wrap:wrap;
  width:450px;
  height:450px;
}
.wrapper-third {
  display:flex;
  width:150px;
  height:150px;
}
.wrapper-11 {
}
.wrapper-12 {
  justify-content:space-between;
  align-items:flex-end;
}
.wrapper-13 {
}
.wrapper-21 {
  flex-direction:column-reverse;
  justify-content:space-between;
  align-items:flex-end;
}
.wrapper-22 {
}
.wrapper-23 {
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
}
.wrapper-31 {
}
.wrapper-32 {
  flex-direction:row-reverse;
  justify-content:space-between;
  align-items:flex-start;
}
.wrapper-33 {
}
.block-large {
  width:450px;
  height:450px;
}
.icon-container {
  width:40px;
  height:40px;
  position:relative;
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform .4s linear, opacity .4s linear;
  opacity: .6
}
.icon-container:hover {
  transform: scale(1.5);
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  cursor:pointer;
  opacity: 1
}
/* Facebook */
.icon11 {
  top:-12px;
  left:-12px;
  background: url('../img/icon_sprites.png') -40px -0;
}
.icon11:hover {
  background: url('../img/icon_sprites.png') -0 -0;
}
/* Twitter */
.icon12 {
  top:-35px;
  left:-6px;
  background: url('../img/icon_sprites.png') -200px -160px;
}
.icon12:hover {
  background: url('../img/icon_sprites.png') -200px -120px;
}
/* LinkedIn */
.icon13 {
  top:-35px;
  left:+6px;
  background: url('../img/icon_sprites.png') -120px -0;
}
.icon13:hover {
  background: url('../img/icon_sprites.png') -80px -80px;
}
/* Telegram */
.icon14 {
  top:-12px;
  left:+12px;
  background: url('../img/icon_sprites.png') -200px -80px;
}
.icon14:hover {
  background: url('../img/icon_sprites.png') -200px -40px;
}
/* Tumblr */
.icon21 {
  top: -12px;
  left: 12px;
  background: url('../img/icon_sprites.png') -200px -0;
}
.icon21:hover {
  background: url('../img/icon_sprites.png') -160px -160px;
}
/* StackOverflow */
.icon22 {
  top: -6px;
  left: 35px;
  background: url('../img/icon_sprites.png') -120px -160px;
}
.icon22:hover {
  background: url('../img/icon_sprites.png') -80px -160px;
}
/* GitHub */
.icon23 {
  top: 6px;
  left: 35px;
  background: url('../img/icon_sprites.png') -80px -40px;
}
.icon23:hover {
  background: url('../img/icon_sprites.png') -80px -0;
}
/* YouTube */
.icon24 {
  top: 12px;
  left: 12px;
  background: url('../img/icon_sprites.png') -40px -200px;
}
.icon24:hover {
  background: url('../img/icon_sprites.png') -0 -200px;
}
/* Dev.io */
.icon31 {
  left: 12px;
  top: 12px;
  background: url('../img/icon_sprites.png') -120px -80px;
}
.icon31:hover {
  background: url('../img/icon_sprites.png') -120px -40px;
}
/* Fiverr */
.icon32 {
  left: 6px;
  top: 35px;
  background: url('../img/icon_sprites.png') -40px -40px;
}
.icon32:hover {
  background: url('../img/icon_sprites.png') -0 -40px;
}
/* Reddit */
.icon33 {
  left: -6px;
  top: 35px;
  background: url('../img/icon_sprites.png') -160px -120px;
}
.icon33:hover {
  background: url('../img/icon_sprites.png') -160px -80px;
}
/* Medium */
.icon34 {
  left: -12px;
  top: 12px;
  background: url('../img/icon_sprites.png') -40px -120px;
}
.icon34:hover {
  background: url('../img/icon_sprites.png') -0 -120px;
}
/* Quora */
.icon41 {
  left: -12px;
  top: 12px;
  background: url('../img/icon_sprites.png') -160px -40px;
}
.icon41:hover {
  background: url('../img/icon_sprites.png') -160px -0;
}
/* Pinterest */
.icon42 {
  left: -35px;
  top: 6px;
  background: url('../img/icon_sprites.png') -120px -120px;
}
.icon42:hover {
  background: url('../img/icon_sprites.png') -80px -120px;
}
/* Instagram */
.icon43 {
  left: -35px;
  top: -6px;
  background: url('../img/icon_sprites.png') -40px -80px;
}
.icon43:hover {
  background: url('../img/icon_sprites.png') -0 -80px;
}
/* Skype */
.icon44 {
  left: -12px;
  top: -12px;
  background: url('../img/icon_sprites.png') -40px -160px;
}
.icon44:hover {
  background: url('../img/icon_sprites.png') -0 -160px;
}
